html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

textarea {
	background: rgba(40, 42, 54, 1);
	color: #bdc3c7;
	font-size: 1.5em;
}

.dark-theme {
	background: rgba(40, 42, 54, 0.99);
	color: #bdc3c7;
}


.small-icon {
  width: 8vh;
  height: 8vh;
}

.small-icon:hover {
  cursor: pointer;
}

.small-subheading {
	margin-bottom: 20px;
	text-decoration: underline;
}

#cell-box {
	width: 100vw;
	height: 100vh;
	top: 0;
	position: absolute;
	display: none;
}

#settings-box {
	width: 100vw;
	height: 100vh;
	border: 5px solid black;
	box-shadow: 3px 3px 3px grey;
	top: 0;
	position: absolute;
	display: none;
	overflow: scroll;
}

#grid-select-box {
  width: 99vw;
  height: 85vh;
  border: 5px solid black;
  box-shadow: 3px 3px 3px grey;
  top: 0;
  position: absolute;
  display: none;
	overflow: scroll;
}

.t {
	font-size: 3em;
	padding: 25px;
	margin-bottom: 25px;
}

.c {
	text-align: center;
	font-size: 3em;
	padding: 25px;
}

.c:hover {
	cursor: pointer;
	color: green;
}

.bgimg {
	display: block;
	width: 100vw;

	max-height: 480px;
	margin-left: auto;
	margin-right: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; /* If you want dots under the hoverable text */
}

.toolbar {
  font-size: 1.2em;
  display: inline-block;
	margin-top: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover tooltiptext {
  visibility: visible;
}

/* Tooltip text */
.tooltip .tooltipintext {
  visibility: hidden;
  color: black;
	height: 50vh;
	width: 80vw;
	text-align: left;
	font-size: 0.4em;
	overflow: scroll;

  /* Position the tooltip text - see examples below! */
  position: fixed;
  z-index: 1;
  left: 10vw;
  bottom: 0px;
	background: white;
	border: 1px solid red;
	line-height: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipintext {
  visibility: visible;
}


#help-box {
	width: 100vw;
	height: 100vh;
	border: 5px solid black;
	box-shadow: 3px 3px 3px grey;
	top: 0;
	position: absolute;
	display: none;
	overflow: scroll;
}

.main-heading {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	padding-top: 10vh;
	padding-bottom: 10vh;
	border-bottom: 3px solid black;
	margin-top: 10vh;
}

.main-text {
	margin-left: auto;
	margin-right: auto;
	max-width: 90vw;
	margin-top: 10vh;
	font-family: serif;
	line-height: 1.5em;
}

.subheading {
	text-align: center;
	font-size: 1.5em;
}

.inner-cell {
  resize: none;
  width: 98%;
  height: 100%;
  border: 1px solid black;
	font-size: 9px;
}

.grid-list {
	text-align: center;
	font-size: 2em
}

.selected-grid {
	color: green;
}

.grid-list:hover {
	cursor: pointer;
	color: green;
	border: 1px solid black;
}

.text-pg {
	margin-top: 30px;
	margin-bottom: 30px;
}

.grid-buttons {
	background: #bdc3c7;
	color: black;
	font-size: 2em;
	text-align: center;
	font-family: serif;
	border: 1px solid black;
}

.grid-buttons:hover {
	cursor: pointer;
	background: #2980b9;
	color: #bdc3c7;
}

#add-grid-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

#delete-grid-button {
	padding-bottom: 10px;
}



#output-box {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 80vw;
	min-height: 200px;
	margin-top: 5vh;
	background: rgba(18, 22, 25, 1);
	border: 3px solid grey;
	color: grey;
	font-size: 2em;
	padding: 50px;
}

#choices-box {
	background: rgba(18, 22, 25, 1);
	border: 3px solid grey;
	color: grey;
	font-size: 2em;
	width: 85vw;
	margin-left: auto;
	margin-right: auto;
	min-height: 200px;
	padding: 50px;
}

.choiceslist:hover {
	cursor: pointer;
	background: white;
	color: black;
}

#gridinfo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: black;
}

.centered {
	text-align: center;
}

#landing {
	position: absolute;
	z-index: 50000;
	width: 100vw;
	height: 100vh;
	background: white;
}

#landing-box {
	width: 100vw;
	height: 100vh;
	border: 3px solid black;
	box-shadow: 1px 1px 1px black;
	color: black;
	overflow: scroll;
	font-size: 3em;
}

#landing-box a {
	color: #16a085;
}

#gogram {
	background: #16a085;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#gogram:hover {
	cursor: pointer;
}

.landing-text {
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding-left: 10px;
	padding-right: 10px;
}

#landing-inside-box {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#landing-inside-box p {
	margin-bottom: 20px;
}

.black-and-white {
	background: black;
	color: white;
	font-size: 1.3em;
	padding: 0.4em
}

#outputText {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	color: black;

	height: 100vh;
	width: 100vw;
}

#outputCanvas {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	z-index: 1;
}


#outputText {
	background: white;
}

.intro-text {
  margin-left: 25vw;
	padding: 20px;
  margin-top: 3vh;
  font-size: 4em;
  color: #353b48;
  font-weight: bold;
	max-width: 60vw;
	border: 1px solid black;
	box-shadow: 3px 3px 3px grey;
	text-align: center;
}

#main-text-box {
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding: 3vw;
	font-size: 2em;
}

#main-text-img {
	margin-left: auto;
	margin-right: auto;
}

#new-choices-box {
	margin-left: 10vw;
	margin-right: 10vw;
  text-align: center;
	background: white;
}

.choiceslist {
	border: 1px solid black;
	border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
	margin-top: 2vh;
	margin-bottom: 2vh;
	font-size: 2em;
}

.choiceslist:hover {
	background: black;
	color: white;
}

.choice:hover {
  cursor: pointer;
	background: black;
	color: white;
}

.intro-text a {
	color: #353b48;
}

#help {
	display: block;
}

#left-sidebar {
	float: left;
	width: 10vw;
	height: 100vh;
	overflow: scroll;
	padding-left: 5px;
	background: rgba(40, 42, 54, 1);
}

#left-sidebar a {
	color: white;
	text-decoration: none;
}

#left-sidebar a:hover {
	color: #2980b9;
	text-decoration: none;
}

#left-sidebar p {
	color: white;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#left-sidebar p:hover {
	color: #2980b9;
	text-decoration: none;
	cursor: pointer;
}

.big-table {
  width: 80vw;
  height: 70vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#run-grid-drop:hover {
	cursor: pointer;
	color: #2980b9;
}

.grid-links {
	margin-left: 1vw;
}

.grid-links:hover {
	cursor: pointer;
}

#parser {
	background: white;
	color: black;
	width: 100%;
	font-size: 1em;
	font-family: serif;
	margin-top: 10vh;
}

#submit-parser {
	background: white;
	color: black;
	width: 100%;
	font-size: 1em;
	font-family: serif;
	border: 1px solid white;
	text-align: center;
	margin-top: 20px;
}

#submit-parser:hover {
	cursor: pointer;
}

.hyperlink-text:hover {
	cursor: pointer;
	color: green;
}

.change-theme-btns {
	font-size: 1.5em; text-align: center; padding: 5px; background: rgba(40, 42, 54, 1); color: white; border: 1px solid black;
}

.change-theme-btns:hover {
	cursor: pointer;
}

#theme-gen {
	font-size: 1.4em;
}

#submit-parser {
	border: 1px solid black;
	padding: 5px;
}

#submit-parser:hover {
	cursor: pointer
}
